@use 'mediaqueries' as bp;

.btn-primary {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(206, 24, 30);
    font-family: 'Roboto', sans-serif;
                transition: box-shadow 0.3s ease-in-out;

    @include bp.tablet {
        font-size: 1.2rem;
        padding: 5px 15px;
    }
}
.btn-primary:hover {
    background-color: rgb(160, 20, 25);
    border-color: rgb(160, 20, 25);
                    transform: scale(1.05);
}