*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// font-family: "Roboto", sans-serif;
// font-family: "Sansation", sans-serif;


// colors
$bg-dark: rgb(15, 15, 15);
$bg-light: rgb(249, 255, 250);
$primary: rgb(206, 24, 30);
$primary-dark: rgb(160, 20, 25);