@use '../base/variables';


.footer-dark {
    background-color: variables.$bg-dark;

    p {
        color: rgba(255, 255, 255, 0.5);
    }
}

.footer-light {
    background-color: variables.$bg-light;

    .img-footer {
        img {
            filter: invert(1);
        }
    }

    p {
        color: rgba(0, 0, 0, 0.5);
    }
}