@use '../base/mediaqueries' as bp;
@use '../base/variables';

.btn-primary {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: variables.$primary;
    font-family: 'Roboto', sans-serif;
    transition: box-shadow 0.3s ease-in-out;

    @include bp.tablet {
        font-size: 1.2rem;
        padding: 5px 15px;
    }
}

.btn-primary:hover {
    background-color: variables.$primary;
    border-color: variables.$primary;
    transform: scale(1.05);
}

.btn-primary:active:focus {
    background-color: variables.$primary-dark;
    outline: none;
    border-color: variables.$primary-dark;
}